@model List<string>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Gallery";
}
<div class="printables-body">

    <h2 class="printables-heading"><span class="white-box">Разгледайте нашите шаблони!</span></h2>

    <div class="row">
        @{
            foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 printables-item">
                    <div class="printables-img-container box-shadow">
                        <a type="button" class="index-table-button" href="@Url.Action("GetPdf","Printables",new { name=item})" target="_blank" role="button">
                            <img class="printables-item-img" src="@Url.Content(String.Format("~/Content/Printables/{0}.jpg",item))" />
                        </a>

                    </div>
                </div>
            }
        }
    </div>
</div>
