<div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="row">
            <div>
                <a href="@Url.Action("Multi", "AdminUpload", new  {id="First"})">
                    <img class="img-responsive  img-circle picmain left" src="~/Content/Images/ml1.png" />
                </a>
            </div>
            <div>
                <a href="@Url.Action("Contact","Home")" class="">
                    <img class="img-responsive  img-circle picmain left" src="~/Content/Images/ml1.png" />
                </a>
            </div>
        </div>
        <div class="row">
            <div>
                <a href="@Url.Action("About","Home")">
                    <img class="img-responsive  img-circle picmain left" src="~/Content/Images/ml1.png" />
                </a>
            </div>
            <div>
                <a href="@Url.Action("Contact","Home")" class="">
                    <img class="img-responsive  img-circle picmain left" src="~/Content/Images/ml1.png" />
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="kur">
                    Kureeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeecccc
                </p>
            </div>

        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <img class="bigpic" src="~/Content/Images/up.jpg" />
    </div>
</div>
