@{
    ViewBag.Title = "Contact";
}
<div class="rules-body white-box">

    <h2 style="text-align:center;">Правила</h2>
    <br />
    <h4>ОРГАНИЗАТОР НА ИГРАТА</h4>
    <p>
        Организатор на Промоцията е „Данон Сердика“ АД, ЕИК BG831617210, адрес на регистрация София, ул. „Охридско езеро“ 3, представлявана от Дора Александрова Стрезова-Николова (наричан по-нататък Организатор). Кампанията се изпълнява от Страта Промо ЕООД, BG130982726, Елемаг 19, блок 309, ет 2, ап 8, МОЛ Теодор Луканов.
        <br />
        Участниците в Промоцията следва да  се съобразят с всички правила и условия на официалния регламент на Промоцията, посочени по-долу / наричани занапред  “Регламент ”.
    </p>

    <p>
        Регламентът на Кампанията е подготвен и ще бъде с публичен свободен достъп на www.shareimagination.bg , със свободен достъп от всяко заинтересовано лице по време на рекламния период на кампанията: 23.09 – 29.10.2016 г. Организаторът си запазва правото да допълни и / или да промени официалния регламент с каквито и да е допълнения и /или промени, които да се допишат в приложение към него и да бъдат публикувани на <a href="www.shareimagination.bg">www.shareimagination.bg</a>
    </p>

    <br />
    <h4>ПРОДЪЛЖИТЕЛНОСТ НА ИГРАТА</h4>
    <p>
        Играта се провежда в периода между 23 Септември 2016 и 29 Октомври 2016. „Данон Сердика“ АД си запазва правото да промени датата на старта, ако поради непредвидени обстоятелства не може да активира Промоцията до 23 Септември 2016 г. Снимките, качени преди 00:00 на 23-ти Септември 2016 г и след 23:59 на 29-ти Октомври 2016г., не участват в Промоцията.
    </p>

    <br />
    <h4>УСЛОВИЯ ЗА УЧАСТИЕ В КОНКУРСА</h4>
    <p>
        1. С участието си в Играта, участниците приемат и се съгласяват с Официалните Правила на Промоцията.
        <br />
        Промоцията е отворена за участие за всички физически лица навършили 18 години,     граждани на България, с изключение на Служителите на Организаторът, на агенциите, участващи в организирането на състезанието и техните роднини по права линия (деца, родители, братя/сестри, съпруг/съпруга)
    </p>
    <p>
        2. С участието си в Кампанията, участниците потвърждават своето пълно съзнателно и недвусмислено съгласие с условията и разпоредбите на регламента и те изразяват съгласието си с тях. Участието в тази кампания изисква да се съобразят с настоящите разпоредби.
    </p>

    ...
</div>



