@{
    Layout = "~/Views/Shared/_LayoutNoNavigation.cshtml";
}

<body>
    <h2>Технически изисквания</h2>

    <p>В този раздел са изброени хардуерните и софтуерните изисквания, необходими, за правилното функциониране на сайта:</p>
    <ul>
        <li>Microsoft Internet Explorer 9 и по-нова</li>
        <li>Mozilla Firefox 20 и по-нова</li>
        <li>Google Chrome предпоследна стабилна версия и по-нова</li>
        <li>Apple Safari 5.0 и по-нова</li>
    </ul>
</body>