@{
    Layout = "~/Views/Shared/_LayoutNoNavigation.cshtml";
}


<body>

    <h2>Авторски права и търговски марки</h2>

    <p>Сайтът <a href="www.shareimagination.com">www.shareimagination.com</a> е собственост на STRATA PROMO EOOD, която го е създала с цел информация, комуникация, забавление и го е направила достъпен единствено за лична и нетърговска цел.</p>
    <p>Търговката марка FERRERO, продуктът и промоционалните търгосвски марки, изобразени на страниците на уебсайта (включително и техните лога), както и всички други отличителни, деноминативни или образни белези и слоганите свързани с тях (търговските марки на Ferrero) са изключителна собственост на компанията Ferrero Group, на която те принадлежат; всяко тяхно ползване или възпроизвеждане за различни цели или по различни начини е изрично и стриктно забранено и ще бъде дадено под съд спрямо съответните закони.
    <br />Търговските марки, лога и символи, принадлежащи на трети страни, илюстрирани в уебсайта са изключително право на техните собственици, които са дали съгласието си за тяхното ползване; всяко тяхно възпроизвеждане е забранено.</p>
    <p>Уебстраниците, съставляващи сайта и цялото им съдържание (включително, но не лимитирано до: текст, изображения, графики, звук) са защитени от авторското право, което Ferrero притежава или включват материал, чиято употреба е надлежно разрешена; следователно тяхното възпроизвеждане, дублиране, публикуване, предаване (изцяло или на части) под всякаква форма или начин е забранено.</p>
    <p>Възпроизвеждането на сайта или част от него не може да бъде продавана или разпространявана с търговски цели.
    <br />Свалянето на материал от сайта е позволено само ако отговаря на условията в сайта; съответното упълномощаване се отнася до употребата на свалените материали за лични и не-търговски цели, всяка друга форма на употреба е стриктно забранена. Съхраняваната информация и материали на уебстайта, не могат да бъдат интерпретирани като предоставящи, открито или скрито, на лиценз на трети страни за употреба на търгоските марки на Ferrero, текстове, изображения, графики, звук или всякакви други елементи, защитени от авторското право, споменато в предишния параграф.</p>
    <p>Всеки един материал, предоставен на сайта от неговите потребители, е обект на специфични Регулации, които отговарят на условията, при които материалът се изпраща към сайта; на Потребителите се препоръчва да прочетат Регулациите внимателно преди да изпратят какъвто и да е материал.</p>
    <p>Ferrero отделя възможно най-голямо внимание при избора и актуализацията на съдържанието на сайта; въпреки това Ferrero не поема отговорност за изчезнала, незавършена и грешна информация от какъвто и да е вид.</p>
    <p>Нещо повече, Ferrero отказва да поеме отговорност за каквато и да е щета, която може да се отрази на потребителя или неговата собственост като следствие на използването на сайта, невъзможността за достъп до сайта или свалянето на материал от него, където сайтът позволява, включително и щети върху компютрите на потребителите, причинени от вируси.</p>

    <h2>Защита</h2>
    <p>Този уебсайт и сайтовете свързани към него са проверени изключително внимателно от Ferrero. Следователно нито една част от тяхното съдържание не представлява опасност за децата. Рекламираните продукти не могат да бъдат закупени директно от уебсайта.</p>
    <p>Във всеки случай Ferrero е отговорен единствено и изключително за съдържанието на неговоте собствени сайтове и не може да бъде държан под отговорност за съдържанието на сайтове, собсвеност на трери страни, с които има разрешен линк. Ferrero не осъществява контрол върху тях.</p>

</body>