.navbar {
    position: fixed;
    background-color: transparent;
    border: none;
}

.navbar-btn-custom {
    height: 50px;
    background-color: red;
    background-image: linear-gradient(red, tomato);
    margin-left: 3px;
    margin-right: 3px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #ca3434;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .navbar-btn-custom a {
        font-family: 'A.C.M.E';
        font-size: 24px;
        height: 100%;
        width: 100%;
        border-radius: 15px;
    }

    .navbar-btn-custom:hover {
        height: 75px;
        transition: height ease 0.5s;
    }

.container {
    max-width: 64vw;
    min-width: 600px;
}

.body-content {
    padding-top: 60px;
    padding-bottom: 90px;
}

.wave-div {
    background-image: url(/Content/Images/wave.png);
    position: fixed;
    bottom: 0;
    margin-top: 15px;
    height: 150px;
    width: 100%;
    background-repeat: repeat;
}

.footer-text {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.index-body {
    position: relative;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-menu {
    position: absolute;
    bottom: 10%;
    text-align: right;
    padding-right: 20%;
}

    .sub-menu a {
        font-size: 16px;
        margin-right: 10px;
        color: white;
        text-decoration: underline;
    }

.hiddenPic {
    display: none;
}

.index-body-btns {
    position: absolute;
    height: 100%;
    top: 0%;
    padding-top: 10%;
}

.btn-toys {
    position: relative;
    margin: 4%;
}

.btn-rewards {
    position: relative;
    margin: 6%;
}

.tutorials-body {
    position: relative;
    max-height: 84vh;
}

.tutorial-selection {
    display: block;
    height: auto;
    width: auto;
    margin-bottom: 10px;
    margin-right: 25px;
}

.tutorial-details-container {
    max-height: 87vh;
    overflow: auto;
}

.tutorial-details {
    position: relative;
    margin: auto;
}

.reward-body {
}

.reward-carousel {
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: black;
}

.carousel-indicators li {
    border: 1pt solid black;
    background-color: whitesmoke;
}

.carousel-indicators .active {
    background-color: black;
}

.reward-img {
    margin: auto;
    padding-bottom: 60px;
}

.reward-body h2 {
    text-align: center;
}

.rewards-more-info {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

    .rewards-more-info td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .rewards-more-info tr:nth-child(even) {
        background-color: whitesmoke;
    }

.logo-heart {
    position: fixed;
    z-index: 100;
    right: 20%;
    height: 50px;
    width: 75px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

/*
    Effects
*/
.grow-small {
    transition: all .2s ease-in-out;
}

    .grow-small:hover {
        transform: scale(1.15);
    }

.grow-big {
    transition: all .2s ease-in-out;
}

    .grow-big:hover {
        transform: scale(1.2);
    }

/*
    Scrollbar
*/
.tutorial-details-container::-webkit-scrollbar {
    width: 15px;
}

.tutorial-details-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    visibility: hidden;
}

.tutorial-details-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    visibility: hidden;
}

.tutorial-details-container:hover::-webkit-scrollbar-track {
    visibility: visible;
}

.tutorial-details-container:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

/*
     Grow Shadow 
*/
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

    .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.05);
    }

.modal-content {
    width: 70% !important;
    margin: 30px auto !important;
}

.picmain {
    width: 85%;
}
