.navbar {
    position: relative;
}

.navbar {
    position: fixed;
    min-height: 50px;
    background-color: #e53d18;
    box-shadow: 0 10px 6px -6px #777;
}

.container {
    max-width: 1315px;
}

.body-content {
    padding-top: 75px;
}

.wave-div {
    background-image: url(/Content/Images/wave.png);
    position: relative;
    bottom: 0;
    margin-top: 15px;
    height: 115px;
    width: 100%;
    background-repeat: repeat;
}

.footer-text {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.index-body {
    position: relative;
    text-align: right;
}

.box-shadow {
    box-shadow: 10px 10px 5px grey;
}

.sub-menu {
    position: absolute;
    bottom: 4%;
    right: 4%;
}

    .sub-menu a {
        font-size: 20px;
        margin-left: 4px;
        margin-right: 4px;
        color: white;
        text-decoration: underline;
    }

.hiddenPic {
    display: none;
}

.index-body-btns {
    padding: 5px;
    position: absolute;
    column-count: 2;
    top: 20%;
    left: 2%;
}

.btn-toys {
    position: relative;
    margin: 10px;
}

.btn-rewards {
    position: absolute;
    bottom: 5%;
    left: 5%;
    margin: 10px;
    transition: all .2s ease-in-out;
}

    .btn-rewards:hover {
        transform: scale(1.1);
    }

/*
    Effects
*/

.grow {
    transition: all .2s ease-in-out;
}

    .grow:hover {
        transform: scale(1.2);
    }
