.navbar {
    position: fixed;
    background-color: #e74010;
    border-bottom: 3px solid #ca3434;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .navbar-nav > li > a {
    border-radius: 15px;
    color: white;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #e74010;
        background-color: white;
    }

    .navbar-inverse .navbar-nav > li > a::selection {
        color: #e74010;
        background-color: white;
    }

.navbar-inverse .navbar-toggle {
    color: tomato;
    border-color: white;
}

.navbar-inverse:hover .navbar-toggle:hover {
    background-color: tomato;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: tomato;
}

.navbar-btn-custom a {
    font-family: 'A.C.M.E';
    font-size: 22px;
}

.dropdown-menu {
    background-color: #e74010;
    border-radius: 10px;
}

    .dropdown-menu > li > a {
        background-color: #e74010;
        color: white;
    }

        .dropdown-menu > li > a:hover {
            background-color: white;
            color: #e74010;
        }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: white;
    color: #e74010;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.container {
    max-width: 64vw;
    min-width: 1000px;
}

.body-content {
    padding-top: 65px;
    padding-bottom: 90px;
}

.wave-div {
    background-image: url(/Content/Images/wave.png);
    position: fixed;
    bottom: 0;
    margin-top: 15px;
    height: 150px;
    width: 100%;
    background-repeat: repeat;
    z-index: 100;
}

.footer-text {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.index-body {
    position: relative;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-menu {
    position: absolute;
    bottom: 10%;
    text-align: right;
    padding-right: 20%;
}

    .sub-menu a {
        font-size: 16px;
        margin-right: 10px;
        color: white;
        text-decoration: underline;
    }

.hiddenPic {
    display: none;
}

.index-heading {
    position: relative;
    font-family: "A.C.M.E Bold";
    color: #e74010;
    text-align: center;
    z-index: 100;
}

.index-body-btns {
    position: absolute;
    display: table;
    text-align: center;
    height: 75%;
    width: 27%;
    bottom: 0%;
    margin: 5%;
    z-index: 100;
    vertical-align: middle;
}

.index-body-white-box {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.7;
    border-radius: 20pt;
}

.index-btn-play-now {
    position: relative;
    font-family: "A.C.M.E Bold";
    font-size: 30px;
    color: white;
    background-color: #e74010;
    padding: 16px;
    margin: 2%;
    border-radius: 15px;
    z-index: 100;
}

    .index-btn-play-now:hover {
        color: white;
    }

.index-image-text{
    position:relative;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    z-index: 100;
}

.index-btn-play{
    position:relative;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    z-index: 100;
}

.index-btn-reward {
    display: inline-block;
    position: relative;
    max-width: 65%;
    margin: 8%;
    z-index: 100;
}

.index-table {
    max-width: 64vw;
    max-width: 1600px;
    font-family: "A.C.M.E";
    font-size: 20pt;
    color: #e74010;
    text-align: center;
}

.index-table-title {
    font-size: 34pt;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}

.index-table-button {
    display: inline-block;
}

.index-table-description {
    width: 1%;
}

.index-table-play-now {
    padding: 60px;
}

.btn-play-now {
    background-color: #e74010;
    color: white;
    font-size: 20pt;
    padding: 20px;
    margin-left: 10px;
    border-radius: 15px;
    outline: none;
    border: 3px solid #ca3434;
}

    .btn-play-now:hover {
        color: white;
        text-decoration: underline;
    }


.dashed-line {
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tutorials-body {
    position: relative;
    max-height: 84vh;
}

.tutorial-selection {
    display: block;
    height: auto;
    width: auto;
    max-height: 26vh;
    margin-bottom: 10px;
    margin-right: 25px;
}

.tutorial-details-container {
    max-height: 78vh;
    overflow: auto;
}

.tutorial-details {
    position: relative;
    margin: auto;
}

.gallery-body {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.gallery-item {
    padding: 10px;
}

.gallery-img-container {
    overflow: hidden;
}

.gallery-item-img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

    .gallery-item-img:hover {
        -webkit-transform: scale(1.25); /* Safari and Chrome */
        -moz-transform: scale(1.25); /* Firefox */
        -ms-transform: scale(1.25); /* IE 9 */
        -o-transform: scale(1.25); /* Opera */
        transform: scale(1.25);
    }

.gallery-like-box {
    position: absolute;
    background-color: white;
    bottom: 30px;
    left: 40%;
    width: 20%;
    height: 11%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

    .gallery-like-box a {
        display: inline-block;
        font-size: 25pt;
        width: 100%;
        height: 100%;
    }

.reward-body {
}

.reward-carousel {
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: black;
}

.carousel-indicators li {
    border: 1pt solid black;
    background-color: whitesmoke;
}

.carousel-indicators .active {
    background-color: black;
}

.reward-img {
    margin: auto;
    padding-bottom: 60px;
}

.reward-body h2 {
    text-align: center;
}

.rewards-more-info {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

    .rewards-more-info td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .rewards-more-info tr:nth-child(even) {
        background-color: whitesmoke;
    }

.winners-body {
    text-align: center;
}

.rules-body {
    margin: auto;
    width: 65%;
    text-align: justify;
}

/*
    Effects
*/
.grow-small {
    transition: all .2s ease-in-out;
}

    .grow-small:hover {
        transform: scale(1.15);
    }

.grow-big {
    transition: all .2s ease-in-out;
}

    .grow-big:hover {
        transform: scale(1.2);
    }

/*
    Scrollbar
*/
.tutorial-details-container::-webkit-scrollbar {
    width: 15px;
}

.tutorial-details-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    visibility: hidden;
}

.tutorial-details-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    visibility: hidden;
}

.tutorial-details-container:hover::-webkit-scrollbar-track {
    visibility: visible;
}

.tutorial-details-container:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

/*
     Grow Shadow 
*/
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

    .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.05);
    }

.modal-content {
    width: 100% !important;
    margin: 30px auto !important;
    height: 80% !important;
}

/*Fonts*/

@font-face {
    font-family: "A.C.M.E";
    src: url('../fonts/ACMENorm.TTF');
}

@font-face {
    font-family: "A.C.M.E Bold";
    src: url('../fonts/ACMEBold.ttf');
}

@font-face {
    font-family: "Suco De Laranja";
    src: url('../fonts/SucoDeLaranja.otf');
}
